{% extends "layout.html" %}
{% block title %}About{% endblock %}

{% block content %}
    <div class="row">
        <div class="site-header">
            <h2 class="site-title">About YelpUs</h2>
            <p class="lead site-description">Personalised recommendations for yelpers.</p>
        </div>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean
            lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod.
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
            justo sit amet risus.</p>
        <h3>Group 11</h3>
        <ul>
            <li>Christina Dilopoulou</li>
            <li>Dogak Cinfwat</li>
            <li>Kurran Bharaj</li>
            <li>Ling Ling</li>
            <li>NingNing Liu</li>
        </ul>
    </div>

{% endblock %}