{% extends "layout.html" %}
{% block title %}About{% endblock %}

{% block content %}
    <div class="row" id="about">
        <div class="site-header">
            <h2 class="site-title">About YelpUs</h2>
            <p class="lead site-description">Personalised restaurant recommendation for yelpers.</p>
        </div>
        <p>
            Hello!
            This is the group coursework for Foundations of Data Science! We recommend you nice restaurants
            depending on your personal taste! The only thing you need to do is to type your preference on food
            and we will do our best to help you eat at the best restaurants!!!
        </p>
        <h3>Group 11</h3>
        <ul>
            <li>Christina Dilopoulou</li>
            <li>Dogak Cinfwat</li>
            <li>Kurran Bharaj</li>
            <li>Ling Ling</li>
            <li>NingNing Liu</li>
        </ul>
    </div>

{% endblock %}