{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAPV7m3xJuLkXdEFXP1UAGV2-AcY9QJjU">
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="site-header">
{#            <h1 class="site-title">Personalised recommendations for Yelpers</h1>#}
{#            <p class="lead site-description">Personalised recommendations for Yelpers.</p>#}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 site-main">
            <div class="input-group">
                <input type="text" class="form-control" id="query" name="query" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="search" name="search" aria-label="Left Align" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        Search
                    </button>
                </span>
            </div><!-- /input-group -->
        </div>
    </div>

    <div class="row" id="restaurants-box">
        <div class="col-sm-7">
            <div class="row">
                <div class="restaurants-container" id="restaurants-container">

                </div>
            </div>
        </div>

        <div class="col-sm-5">

            <div class="row">
                <div id="map">

                </div>
            </div>
        </div>
    </div>

{#    <div class="row center">#}
{#        <button class="btn btn-default">&laquo; Previous</button>#}
{#        <button class="btn btn-default">Next &raquo;</button>#}
{#    </div>#}
{% endblock %}